{% extends "/users/index.html.twig"%}
{% block link %}
    <link rel="stylesheet" href="/css/users.css"/>
    <link rel="stylesheet" href="/css/projectManager.css">
{% endblock %}
{% block header %}
    <h1 class="projectPageTitle">Manager projet: {{project.getName}}</h1>
{% endblock %}
{% block main %}
    {% if project %}
        <div class="projectContainer">
            <h2 class="projectTitle">Nom du projet: {{project.getName}}</h2>
            <p class="projectDescrition">Description du projet:<br> {{project.getDescription}}</p>
            <p class="projectStartDate">Date de début du projet: {{project.getStartDate | date("d M Y")}}</p>
            <p class="projectEndDate">Date de fin du projet: {{project.getEndDate | date("d M Y")}}</p>
            <div class="userBtnContainer">
                <a class="btn-linear-flat" href="/project/edit/{{project.getId}}">Modifier Projet: {{project.getName}}</a>
                <form action="/project/delete/{{project.getId}}" method="post">
                    <button class="btn-croix" type="submit" name="button">Supprimer projet: {{project.getName}}</button>
                </form>
            </div>

        </div>
    {% endif %}
    {% if projectTasks %}
            <h2>Taches à accomplir</h2>
            <a class="btn-linear-flat" href="/project/{{project.getId}}/task">Ajouter Taches</a>
            {% for task in projectTasks %}
                <div class="projectContainer">
                    <h2 class="projectTitle">Nom de la tache: {{task.getName}}</h2>
                    <p class="projectDescrition">Description de la tache:<br> {{task.getDescription}}</p>
                    <p class="projectStartDate">Date de début de la tache: {{task.getStartDate | date("d M Y")}}</p>
                    <p class="projectEndDate">Date de la fin de la tache: {{task.getEndDate | date("d M Y")}}</p>
                    <div class="userBtnContainer">
                        <a class="btn-linear-flat" href="/project/{{project.getId}}/task/{{task.getId}}/edit">Modifier tache: {{task.getName}}</a>
                        <form  action="/project/{{project.getId}}/task/{{task.getId}}/delete" method="post">
                            <button class="btn-croix" type="submit"  name="button">Supprimer: {{task.getName}}</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
    {% endif %}
    {% if projectUsers %}
            <h2>Membres du projet</h2>
            <a class="btn-linear-flat" href="/project/edit/{{project.getId}}/addUsers">Administrer utilisateur</a>
            {% for user in projectUsers %}
                <div class="userContainer">
                    <p class="userName">Prenom: {{user.getFirstName}}</p>
                    <p class="userLastName">Nom: {{user.getLastName}}</p>
                    <p class="userEmail">Email: {{user.getEmail}}</p>
                </div>
            {% endfor %}
    {% endif %}
{% endblock %}
